body {
    background-color: white;
    margin: 0px;
}

.toolbar-main {
    display: flex;
    align-items: center;
    border-bottom: black 1px solid;
    justify-content: space-around;
}

.toolbar-title {
    padding: 2vw; 
    display: flex;
    flex-direction: column;
}

.toolbar-title-text {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1;
    font-size: 3vw;
}

.toolbar-title-top {
    
}

.toolbar-title-middle {
    display: flex;
    justify-content: flex-end; 
}

.toolbar-title-bottom {
    display: flex;
    justify-content: flex-end;
}

.toolbar-buttons {
    display: flex;
    height: 100%;
    padding: 10px;
}

.toolbar-button {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1;
    font-size: 2.5vw;
    margin-left: 5vw;
    border-bottom: white 2px solid;
    display: flex;
    align-items: center;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

.toolbar-button-text {
}

.toolbar-button:hover {
    border-bottom: black 2px solid;
    cursor: pointer;
}

.toolbar-button:visited {
    border-bottom: white 2px solid;
}

.toolbar-button-logo {
    height: 9vw;
}

.toolbar-wishlist-button {
    padding-left: 5px;
}
