

/* ----------- Retina Screens ----------- */
@media only screen 
  and (min-device-width: 441px) 
  and (max-device-width: 1600px) {
/*  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) */  

    body {
        background-color: white;
        margin: 0px;
    }
    .toolbar-main {
        display: flex;
        align-items: center;
        border-bottom: black 1px solid;
        justify-content: space-around;
    }

    .toolbar-title {
        padding: 2vw; 
        display: flex;
        flex-direction: column;
    }

    .toolbar-title-text {
        color: black;
        font-family: 'Courier New', Courier, monospace;
        line-height: 1;
        font-size: 3vw;
    }

    .toolbar-title-top {
        
    }

    .toolbar-title-middle {
        display: flex;
        justify-content: flex-end; 
    }

    .toolbar-title-bottom {
        display: flex;
        justify-content: flex-end;
    }

    .toolbar-buttons {
        display: flex;
        height: 100%;
        padding: 10px;
    }

    .toolbar-button {
        color: black;
        font-family: 'Courier New', Courier, monospace;
        line-height: 1;
        margin-left: 5vw;
        border-bottom: white 2px solid;
        display: flex;
        align-items: center;
    }

    a, a:hover, a:active, a:visited, a:focus {
        text-decoration:none;
    }

    .toolbar-button-text {
        font-size: calc(1em + 1vw) ;
    }

    .toolbar-button:hover {
        border-bottom: black 2px solid;
        cursor: pointer;
    }

    .toolbar-button:visited {
        border-bottom: white 2px solid;
    }

    .toolbar-button-logo {
        height: 4vw;
    }

    .toolbar-wishlist-button {
        padding-left: 5px;
    }

    .main-body-textbox {
        padding-left: 6vw;
        padding-right: 6vw;
        padding-top: calc(1em + 1vw) ;
        font-size: calc(1em + 1vw) ;
        color: black;
        font-family: 'Courier New', Courier, monospace;
        line-height: 1;
    }

    .main-body-table-holder {
        color: black;
        font-family: 'Courier New', Courier, monospace;
        line-height: 1;
        display:flex;
        justify-content: center;
        padding: 4vw;
        flex-direction: column;
        font-size: 1.3vw;
        align-items: center
    }

    .main-body-table-row {
        border-bottom: black 1px solid;
        padding: 2vw;
        display: flex;
        width: 75%;
        justify-content: space-between;
    }

    .landing-image {
        padding-top: 5vw;
        display: flex;
        justify-content: center;
    }

    .landing-image-content {
        height: 48vw;
    }

}

@media only screen and (max-device-width: 440px) {

    body {
        background-color: white;
        margin: 0px;
    }

   .toolbar-main {
        display: flex;
        align-items: center;
        border-bottom: black 1px solid;
        justify-content: space-around;
        flex-direction: column;
    }

    .toolbar-title {
        padding: 2vw; 
        display: flex;
        padding-left: 1vw;
        padding-right: 1vw;

    }

    .toolbar-title-text {
        color: black;
        font-family: 'Courier New', Courier, monospace;
        line-height: 1;
        font-size: 8vw;
    }

    .toolbar-title-top {
        padding-top: 2vw;    
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .toolbar-title-bottom {
        padding-left: 2vw;
        padding-right: 2vw;

        padding-top: 2vw;    
        display: flex;
        justify-content: flex-end;
    }

    .toolbar-buttons {
        display: flex;
        height: 100%;
        padding: 3vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .toolbar-button {
        color: black;
        font-family: 'Courier New', Courier, monospace;
        line-height: 1;
        margin-left: 4vw;
        border-bottom: white 2px solid;
        display: flex;
        align-items: center;
    }

    a, a:hover, a:active, a:visited, a:focus {
        text-decoration:none;
    }

    .toolbar-button-text {
        font-size: 5vw;
    }

    .toolbar-button:hover {
        border-bottom: black 2px solid;
        cursor: pointer;
    }

    .toolbar-button:visited {
        border-bottom: white 2px solid;
    }

    .toolbar-button-logo {
        height: 12vw;
    }

    .toolbar-wishlist-button {
        padding-left: 5px;
    }

    .main-body-textbox {
        padding-left: 6vw;
        padding-right: 6vw;
        padding-top: 6vw;
        color: black;
        font-family: 'Courier New', Courier, monospace;
        line-height: 1;
    }

    .main-body-table-holder {
        color: black;
        font-family: 'Courier New', Courier, monospace;
        line-height: 1;

        display:flex;
        justify-content: center;
        padding: 4vw;
        flex-direction: column;
        align-items: center
    }

    .main-body-table-row {
        border-bottom: black 1px solid;
        padding: 5vw;
        display: flex;
        width: 75%;
        justify-content: space-between;
    }

    .landing-image {
        padding-top: 5vw;
        display: flex;
        justify-content: center;
    }

    .landing-image-content {
        height: 50vw;
    }

}

